<app-scroll-position #scrollPosition></app-scroll-position>

<!--The content below is only a placeholder and can be replaced.-->
<div id='headerComp'>
<div>
    <img src="../favicon.ico"> 
  </div>
  <div>
    <h1> Angular {{title | uppercase}} </h1>
  </div>
</div>

<div>
  <nav>
    <a routerLink="">Home</a>
    <a routerLink="/customers">Customers</a>
    <a routerLink="/users">Users</a>
    <a routerLink="/logout">LogOut</a>
    <!-- <button routerLink="/users/:id">User</button> -->
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- https://stackoverflow.com/a/48486798/5081877 -->
<app-using-cookie #acceptCookie></app-using-cookie>
<app-scroll-back-to-top #backToTop></app-scroll-back-to-top>

<!--
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.com/">Angular blog</a></h2>
  </li>
</ul>
-->
