<div id="footer_bottom_floating_line" class="">
    <div id="footer_bottom_floating_line__cookies">
      <span id="footer_bottom_floating_line__cookies__text">
      By continuing to browse or use the site, you <b>agree</b> to our usage <b>Terms</b> and <b>Data processing policy</b>.
      </span>
      <!-- <span onclick="cookiePolicy('CloseButton'); document.cookie='cookie_info_closed=true; max-age=31536000';"> -->
      <span id="footer_bottom_floating_line__cookies__ok_btn" (click)="cookiePolicy('CloseButton');">
      OK
      </span>
    </div>
</div>